Flask==1.0
Flask-SQLAlchemy==2.3.2
Flask-Script==2.0.6
Flask-RESTful==0.3.6
Flask-Login==0.4.0
Flask-Autodoc==0.1.2

SQLAlchemy==1.1.9
Markdown==2.6.8
bleach==2.0.0
pygtail==0.7.0
cx_Freeze==5.0.2
futures==3.1.1
ConfigParser==3.5.0
wxPython==4.0.0b2

pymysql==0.8.0

ipython
pyreadline
