Flask==1.1.2
Flask-SQLAlchemy==2.4.1
Flask-Script==2.0.6
Flask-RESTful==0.3.8
Flask-Login==0.5.0
Flask-Selfdoc==1.2.3

SQLAlchemy==1.3.17
Markdown==3.0.1
bleach==3.1.5
pygtail==0.7.0
cx_Freeze==6.1
futures==3.1.1
ConfigParser==5.0.0
wxPython==7.1.2

pymysql==0.8.0

ipython
pyreadline
