Flask==0.10.1
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-RESTful==0.3.2
Flask-Login==0.2.10
Flask-Autodoc==0.1.1

SQLAlchemy==0.9.9
Markdown==2.6.1
bleach==1.4.1
pygtail==0.6.0
cx_Freeze==4.3.4
futures==3.0.3

ipython
pyreadline
